<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>London Data Week centres residents in conversations about data, in contrast to how technology creation, 
          deployment, and decision making happens today. </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to learn more about data, a professional looking to showcase your work, or
          a resident interested in conversations with other Londoners about exciting & concerncing technology trends, London Data week
          is created by and for you. Through a week of interactive activities, led by partners across the city, we aim to foster public conversations about data and raise interest and awareness, as well as empowerment for Londoners to use data to enrich their lives. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
